<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AudioBooker.classes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AudioBooker.classes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AudioBooker.classes.Properties.Settings>
            <setting name="SoundEffectInter" serializeAs="String">
                <value>{ExePath}\Content\snd\ilyafrank_inter.mp3</value>
            </setting>
            <setting name="SoundEffectOpen" serializeAs="String">
                <value>{ExePath}\Content\snd\ilyafrank_open.mp3</value>
            </setting>
            <setting name="SoundEffectClose" serializeAs="String">
                <value>{ExePath}\Content\snd\ilyafrank_close.mp3</value>
            </setting>
            <setting name="CutSecondsBefore" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="CutSecondsAfter" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="SoundEffectFactor" serializeAs="String">
                <value>0</value>
            </setting>
        </AudioBooker.classes.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <AudioBooker.classes.Properties.Settings>
            <setting name="FileExtensionsImage" serializeAs="String">
                <value>.jpg|.jpeg|.gif|.bmp|.tiff</value>
            </setting>
        </AudioBooker.classes.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
