<?xml version="1.0"?>
<configuration>

    <appSettings>
        <add key="LogFolder" value="../.."></add>
        <add key="XmlFilename" value="C:\Users\mtemkine.TFO\Desktop\TODO_items\_done\2012_09_25_dolce_vita\La_dolce_vita.xml"></add>
        <add key="Mp3Name1" value="C:\Users\mtemkine.TFO\Desktop\TODO_items\_done\2012_09_25_dolce_vita\dolce_vita_it.mp3"></add>
        <add key="Mp3Name2" value="C:\Users\mtemkine.TFO\Desktop\TODO_items\_done\2012_09_25_dolce_vita\dolce_vita_ru.mp3"></add>
        <add key="OutName2Lang" value="C:\Users\mtemkine.TFO\Desktop\TODO_items\_done\2012_09_25_dolce_vita\dolce_vita_ru_it\dolce_vita_2audio_{0}.mp3"></add>
        <add key="OutName1Lang" value="C:\Users\mtemkine.TFO\Desktop\TODO_items\_done\2012_09_25_dolce_vita\dolce_vita_it\dolce_vita_it_{0}.mp3"></add>
        <add key="name" value="value"></add>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
